/*Progress bar and next button container*/
#nextButtonAndProgressBarContainer{
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 40%;
    margin-bottom: 0%;
}
#nextButtonAndProgressBarContainer > div{
    height: 100%;
    animation:progressBar 14s linear;
    margin-top: 0%;
}

/*Right panel styles - used to hold content for lessons*/
#rightPanel{
    display: grid;
    grid-template-rows: 0.5fr 10fr 1fr;
    max-width: 600px;
    max-height: 700px;
    border: 5px outset gray;
    padding: 10px;
   
}
#rightPanelMainContent{
    padding-top: 1%;
}
@keyframes progressBar{
    from {width:0%;}
    to{width: 100%;}
}
@keyframes displayFromLeftToRight{
     0% {
        width:3%;
        }
    100%{
        width: 100%; 
    }
}

#p1 {
    animation: displayFromLeftToRight 3s linear;
    overflow: hidden;
    white-space: nowrap;

}
#p2 {
    animation: displayFromLeftToRight 3s linear;
    overflow: hidden;
    white-space: nowrap;
}
#p3 {
    animation: displayFromLeftToRight 3s linear;
    overflow: hidden;
    white-space: nowrap;
}
#p4 {
    animation: displayFromLeftToRight 3s linear;
    overflow: hidden;
    white-space: nowrap;
}

.imageW50H350{
    width: 50%;
    height: 350px;
}

#outerDivForErrorBox{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
    width: 90%;
    height: 90%;
    background-color:  black;
}
body > div{
    max-height: 700px;
}

/*End of right panel styles*/
/*start of pop-out for manual entry*/
/*Code for the keyed in pop-outs*/
#departmentInputPopout{
    grid-area: 2/2/7/5;
    background-color: rgb(249, 249, 249);
    z-index: 1;
}
#departmentNameDivInManualEntry{
    color: gray;
    padding-left: 2%;
    padding-top: 0%;
}
#departmentNumberDivInManualEntry{
    color: gray;
    padding-left: 2%;
    padding-top: 0%;
}
#enterAmountDivInManualEntry{
    color: gray;
    margin-left: 10%;
    padding-top: 10%;
    display: grid;
    align-items: center;
}
#priceInputInManualEntry{
        padding-top: 10%;
        display: grid;
        justify-content: end;
        margin-right: 15%;
        border-bottom: 3px solid black;
        font-size: 2.5rem;
        color: green;
}
#manualEntry{
    color: green;
    font-size: 1.5rem;
    padding-top: 2%;
    padding-left: 2%;
}
#OuterDivForManualEntry{
display: grid;
grid-template-columns: 3fr 10fr;
}
/* End of pop-out for manual entry*/


.containerDiv{
    display: grid;
    grid-template-areas: "aside main section";
    grid-template-columns: 1fr 5fr 5fr;
    gap: 1rem;
    padding-top: 1.5rem;
}

li {
	padding-top: 1.2rem;
}

main {
	border: white double 5px;
    border-radius: 10px;

    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

section > div{
	padding-top: 1.5rem;
}

img {
	width: 370px;
	height: 140px;
}

aside{
    margin-left: 1.2rem;
}

.hideDisplay{
    visibility: hidden;
}
.showDisplay{
    visibility: initial;
}



/*Code for department keys*/
#insideRegisterGrid1 > div{
        border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
    height: 100%;
}
#departmentKeys1{
grid-area: 1/1/2/2;
z-index: 1;
}
#departmentKeys2{
    grid-area: 1/2/2/3;
    z-index: 1;
}
#departmentKeys3{
    grid-area: 1/3/2/4;
    z-index: 1;
}
#departmentKeys4{
    grid-area: 1/4/2/5;
    z-index: 1;
}
#departmentKeys5{
    grid-area: 1/5/2/6;
    z-index: 1;
}
#departmentKeys6{
    grid-area: 2/1/3/2;
    z-index: 1;
}
#departmentKeys7{
    grid-area: 2/2/3/3;
    z-index: 1;
}
#departmentKeys8{
    grid-area: 2/3/3/4;
    z-index: 1;
}
#departmentKeys9{
    grid-area: 2/4/3/5;
    z-index: 1;
}
#departmentKeys10{
    grid-area: 2/5/3/6;
    z-index: 1;
}
#departmentKeys11{
    grid-area: 3/1/4/2;
    z-index: 1;
}
#departmentKeys12{
    grid-area: 3/2/4/3;
    z-index: 1;
}
#departmentKeys13{
    grid-area: 3/3/4/4;
    z-index: 1;
}
#departmentKeys14{
    grid-area: 3/4/4/5;
    z-index: 1;
}
#departmentKeys15{
    grid-area: 3/5/4/6;
    z-index: 1;
}
#departmentKeys16{
    grid-area:4/1/5/2;
    z-index: 1;
}
#departmentKeys17{
    grid-area:4/2/5/3;
    z-index: 1;
}
#departmentKeys18{
    grid-area:4/3/5/4;
    z-index: 1;
}
#departmentKeys19{
    grid-area:4/4/5/5;
    z-index: 1;
}
#departmentKeys20{
    grid-area:4/5/5/6;
    z-index: 1;
}
#departmentKeys21{
    grid-area:5/1/6/2;
    z-index: 1;
}
#departmentKeys22{
    grid-area:5/2/6/3;
    z-index: 1;
}
#departmentKeys23{
    grid-area:5/3/6/4;
    z-index: 1;
}
#departmentKeys24{
    grid-area:5/4/6/5;
    z-index: 1;
}
#departmentKeys25{
    grid-area:5/5/6/6;
    z-index: 1;
}
/* Code for the normal register screen 
row start / col start / row end / col end*/
#insideRegisterGrid1{
    grid-area: 1/1/11/2;
    border: 1px gray solid;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(10, 1fr) ;
}
#insideRegisterGrid2{
    grid-area: 1/2/2/3;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
#insideRegisterGrid3{
    grid-area: 1/3/2/4;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
#insideRegisterGrid4{
    grid-area: 2/2/3/3;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
#insideRegisterGrid5{
    grid-area: 2/3/3/4;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
#insideRegisterGrid6{
    grid-area: 3/2/4/3;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
#insideRegisterGrid7{
    grid-area: 3/3/4/4;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
#insideRegisterGrid8{
    grid-area: 4/2/5/3;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
#insideRegisterGrid9{
    grid-area: 4/3/5/4;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
#insideRegisterGrid10{
    grid-area: 5/2/6/3;
    border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    background-color: black;
}
/*Back and more div*/
#insideRegisterGrid11{
    grid-area: 5/3/6/4;
   /* border: 1px gray solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: black;
}
#backDiv{
    border: 1px gray solid;
    display: grid;
    align-items: center;
    height: 100%;
    justify-content: center;

}
#moreDiv{
    border: 1px gray solid;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* Enter Item Code outer div*/
#insideRegisterGrid12{
    grid-area: 6/2/8/4;
    border: 1px gray solid;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 4fr;
}
#topOfEnterItemCode{
    padding-left: 2%;
}
#bottomEnterItemCode{
    font-size: 2rem;
    display: grid;
    align-items: end;

}
/*Numpad outer Div*/
#insideRegisterGrid13{
    grid-area: 8/2/last-line/end;
    border: 1px gray solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: black;
}

/*  Bottom div for balance due and the total outershell*/
#insideRegisterGrid14{
    grid-area: fourteen;
    border: 1px gray solid;
    background-color: rgb(249, 237, 223);
    grid-area: 11/1/12/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/*  balance due  */
#balanceDueDiv{
    display: grid;
    align-content: center;
    color: green;
    font-size: 2rem;
    padding-left: 5%;
}
/*  Total price for the register*/
#TotalEntryForTheRegister{
    display: grid;
    align-content: center;
    justify-content: flex-end;
    color: green;
    font-size: 2rem;
    padding-right:5%;
}
/* AvantEdge points in upper left of the normal screen outer div*/
#insideRegisterGrid15{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
#advantEdgeValue{
    color: green;
    display: grid;
    align-items: end;
    padding-left: 12%;
}
#advantEdgeTitle{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    padding-left: 5%;
}
/* Main div for displaying items and prices */
#insideRegisterGrid16{
    grid-area: 3/1/11/2;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    color: black;
    font-size: 1.5rem;
    padding-left: 5%;
    padding-bottom: 1%;
    overflow-y: scroll;
}
#itemDescription{
display: grid;
align-items: end;
}
#FoodStampLogo{
display: grid;
align-items: end;
}
#priceOfProduct{
display: grid;
align-items: end;
}
#registerDiv{
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: repeat(11, 1fr);
}
#insideRegisterDiv{
    background-color: aqua;
    border: black solid 2px;
}
/*Enter Button Div*/
#numpadDiv15{
    height: 100%;
    display: grid;
    align-items: center;
    grid-area: 4/3/last-line/end;
     border: 1px gray solid;
     justify-content: center;
     z-index: 1;
}
#numpadDiv1{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 1/1/2/2;
    justify-content: center;
}
#numpadDiv2{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 1/2/2/3;
    justify-content: center;
}
#numpadDiv3{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 1/3/2/4;
    justify-content: center;
}
#numpadDiv4{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 1/4/2/5;
    justify-content: center;
}
#numpadDiv5{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 2/1/3/2;
    justify-content: center;
}
#numpadDiv6{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 2/2/3/3;
    justify-content: center;
}
#numpadDiv7{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 2/3/3/4;
    justify-content: center;
}
#numpadDiv8{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 2/4/3/5;
    justify-content: center;
}
#numpadDiv9{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 3/1/4/2;
    justify-content: center;
}
#numpadDiv10{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 3/2/4/3;
    justify-content: center;
}
#numpadDiv11{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 3/3/4/4;
    justify-content: center;
}
#numpadDiv12{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 3/4/4/5;
    justify-content: center;
}
#numpadDiv13{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 4/1/5/2;
    justify-content: center;
}
#numpadDiv14{
 border: 1px gray solid;
        display: grid;
    align-items: center;
    padding-left: 3%;
    grid-area: 4/2/5/3;
    justify-content: center;
}
/* End of Normal Register*/

/*Image*/
#wildgoodUPC{
    height: 350px;
    width: 250px;
}